#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

td {
  align-content: center;
  border: 1px solid gray;
  width: 400px;
  height: 28px;
}

table {
  border: 1px solid gray;
  width: 400px;
  height: 330px;
  margin-left: auto;
  margin-right: auto
}